@import '../../../node_modules/swiper/swiper-bundle.css';

.image-gallery {
  @apply block lg:grid lg:grid-cols-10 lg:gap-8 fixed top-0 left-0 right-0 bottom-0 z-[800] pl-16;

  opacity: 0;
  visibility: hidden;
  background: #fff;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  &__info {
    @apply block lg:flex lg:flex-col lg:justify-between col-span-3 mr-8 text-xs pt-12 pb-16 z-20;

    background: #fff;

    &__title {
      @apply text-[2.5rem] font-light mb-3 leading-none;
    }

    &__subtitle {
      @apply text-xl mb-10 font-light;
    }

    &__photographer {
      &__label {
        @apply uppercase mb-1 font-light;
      }
      &__title {
        @apply uppercase mb-3 font-normal;
      }
    }
  }

  &__images {
    @apply block col-span-7 relative z-10;

    background: #eaeaea;

    &__close {
      @apply underline underline-offset-2 uppercase cursor-pointer p-4 absolute top-0 right-0 text-xs z-10;

      background: #eaeaea;
      border-radius: 3px;
    }
  }

  .swiper {
    width: 100%;
    height: 100vh;
    user-select: none;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: #eaeaea;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #999;
  }

  .swiper-pagination-fraction {
    top: 0px;
    right: -32px;
    display: inline-block;
    position: absolute;
    left: inherit;
    width: inherit;
    font-size: 0.75rem;
    z-index: 100;
  }
}
