:host {
  display: block;
}

.moods-boards {
  @apply block md:grid md:grid-cols-10 md:gap-4 text-sm cursor-default;

  &__sidebar {
    @apply md:col-span-2;
  }

  &__content {
    @apply md:col-span-8 block md:grid md:grid-cols-4 md:gap-8 md:gap-y-16;
  }

  &__create-board {
    @apply mb-2;

    &__input {
      @apply py-2 flex items-center;

      border-bottom: 1px solid #888;

      & input {
        all: unset;
        @apply flex-1 cursor-text;
      }
    }

    &__button {
      @apply ml-2 cursor-pointer flex items-center;

      img {
        @apply w-[16px] opacity-70;
      }
    }

    & a {
      @apply block py-2 font-light;
    }

    & a:hover {
      @apply font-medium underline underline-offset-2 cursor-pointer;
    }
  }

  &__sort {
    &__header {
      @apply mb-2;
    }
  }

  &__sort-by {
    @apply mb-2 ml-6 font-light cursor-pointer;

    &--selected {
      @apply font-medium underline underline-offset-2;
    }
  }

  a {
    @apply no-underline;
    color: inherit;
  }
}
