:host {
  --font-family: var(--leibal-components-font-family, sans-serif);
  --color-light: #fff;
  --color-dark: #222;

  font-family: var(--font-family);
  display: block;
}

.simple-button {
  @apply flex relative font-light justify-center items-center px-4 py-6 cursor-pointer select-none;

  border-width: 1px;
  border-style: solid;
  border-color: var(--color-dark);
  background-color: var(--color-light);
  color: var(--color-dark);
  transition-duration: 300ms;

  &--full-width {
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &__text {
    @apply md:text-lg lg:text-xl;
  }

  &__icon {
    @apply w-4 h-4 absolute top-4 right-4;

    width: 1rem;
    height: 1rem;
  }

  &:hover,
  &:active {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  &--dark {
    border-color: var(--color-dark);
    background-color: var(--color-dark);
    color: var(--color-light);

    &:hover,
    &:active {
      background-color: var(--color-light);
      color: var(--color-dark);
    }
  }
}
