@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  @apply mb-12 lg:mb-20;

  --font-family: var(--leibal-components-font-family, sans-serif);
  --color-light: #fff;
  --color-dark: #222;

  display: block;
  font-family: var(--font-family);
}

.display-card {
  @apply tracking-widest cursor-pointer;

  &__image {
    position: relative;
    width: 100%;
    aspect-ratio: auto 1 / 1;
    overflow: hidden;

    & > * {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }

    & > *:first-child {
      opacity: 1;
    }

    &:hover > *:nth-child(2) {
      opacity: 1;
    }
  }

  &__top {
    @apply my-5;

    &__title {
      @apply uppercase font-normal text-xs mb-1;
    }
    &__subtitle {
      @apply uppercase font-light text-xs;
    }
  }

  &__bottom {
    &__title {
      @apply font-normal text-sm mb-1;
    }
    &__subtitle {
      @apply font-light text-xs;
    }
  }

  &--featured {
    @apply block md:grid md:grid-cols-6 md:gap-8 tracking-widest cursor-pointer;

    &__right {
      @apply flex flex-col justify-between col-span-2;
    }

    &__top {
      @apply my-6 md:my-0 mb-7;

      &__title {
        @apply font-normal text-3xl mb-4 pr-4;
      }
      &__subtitle {
        @apply font-light text-base;
      }
    }

    &__bottom {
      &__title {
        @apply font-normal text-xs mb-3 uppercase;

        &__name {
          @apply font-light text-xs uppercase mb-1;
        }
      }
      &__subtitle {
        @apply font-normal text-xs uppercase;

        &__name {
          @apply font-light text-xs uppercase mb-1;
        }
      }
    }
  }
}
