:host {
  --font-family: var(--leibal-components-font-family, sans-serif);
  --color-light: #fff;
  --color-dark: #222;

  font-family: var(--font-family);
  display: block;
}

.footer-nav {
  @apply grid grid-cols-2 gap-4 lg:grid lg:grid-cols-10 lg:gap-8 my-16 lg:my-24;

  &__column {
    @apply lg:col-span-2 flex flex-col mb-12 lg:mb-0;

    &:last-child {
      @apply col-span-2 justify-between;
    }
  }

  &__title {
    @apply mb-12 text-[0.75rem] tracking-widest font-normal;
  }

  &__links {
  }

  &__link {
    @apply block mb-3 text-[11px];

    color: var(--color-dark);
    text-decoration: none;
    text-underline-offset: 2px;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      @apply mb-0;
    }
  }

  &__email-form {
    @apply mb-16 lg:mb-0;

    flex-grow: 1;

    & form {
      @apply flex text-sm pb-2;
      border-bottom: 1px solid var(--color-dark);
    }

    & input[type='email'] {
      all: unset;
      display: block;
      flex-grow: 1;
      width: 100%;
    }

    & input[type='submit'] {
      all: unset;
      display: block;
      font-size: 11px;
    }
  }

  &__trademark {
    @apply font-light text-xs uppercase;
  }
}
