:host {
  display: block;
}

.moods-modal {
  @apply fixed top-0 left-0 w-full h-screen z-[1000];

  & > * {
    box-sizing: border-box;
  }

  opacity: 0;
  visibility: hidden;
  background: #fff;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  &__content {
    @apply block md:grid md:grid-cols-2 h-full;
  }

  &__left {
    @apply flex flex-col justify-center p-12 lg:p-32;
    background: #f5f5f5;

    & > * {
      max-height: 60vh;
      object-fit: contain;
    }
  }

  &__right {
    @apply p-12;
  }

  &__close {
    @apply cursor-pointer absolute top-0 right-0 p-4 uppercase font-light underline underline-offset-2 text-xs;
  }

  &__picker {
    @apply flex h-full flex-col justify-center items-center;

    & > * {
      /* @apply mb-12; */
      width: 100%;
      max-width: 409px;
    }
  }

  &__text {
    @apply mb-8;
  }
}
