.enquire-card {
  --font-family: var(--leibal-components-font-family, sans-serif);
  --color-light: #fff;
  --color-dark: #222;

  font-family: var(--font-family);
  display: block;

  @apply block lg:grid lg:grid-cols-12 lg:gap-8 cursor-pointer;

  grid-column: 1/4;

  &__preview-image {
    @apply lg:col-span-8;

    position: relative;
    width: 100%;
    aspect-ratio: auto 1 / 1;
    overflow: hidden;

    & > * {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }

    & > *:first-child {
      opacity: 1;
    }

    &:hover > *:nth-child(2) {
      opacity: 1;
    }
  }

  &__info {
    @apply lg:col-span-4 flex flex-col lg:justify-between font-light text-xs;

    &__enquire {
      @apply mb-1 uppercase;
    }

    &__title {
      @apply font-normal uppercase;
    }
  }

  &__button {
    @apply col-span-8;
  }
}

.enquire-modal {
  &__modal {
    @apply fixed top-0 bottom-0 left-0 right-0 z-[1000];

    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

    &--visible {
      opacity: 1;
      visibility: visible;
      transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

    &__content {
      @apply lg:grid lg:grid-cols-10 lg:gap-8 px-8 lg:px-16 bg-white relative;

      & > div {
        @apply py-8 lg:py-12;
      }

      & > div:first-child {
        @apply hidden lg:grid;
      }

      & > div:last-child {
        @apply p-0;
      }
    }

    &__form {
      @apply col-span-5;
      border: none;

      @screen lg {
        @apply px-8;

        border: 1px solid #eaeaea;
        border-top: none;
        border-bottom: none;
      }

      & > div {
        @apply block lg:grid lg:grid-cols-2 lg:gap-8;

        & > * {
          @apply mb-8 lg:mb-0;
        }
      }

      &__message {
        @apply col-span-2 row-span-2;

        &__title {
          @apply text-sm font-light mb-4;
        }

        &__body {
          @apply p-4 font-light text-sm tracking-wider leading-6 max-h-[185px] overflow-y-auto;

          border: 1px solid #eaeaea;

          & p {
            @apply my-4;
          }

          & p:first-child {
            @apply mt-0;
          }

          & p:last-child {
            @apply mb-0;
          }
        }

        &__more-text {
          /* @apply pb-8; */
        }
      }
    }

    &__submit {
      @apply col-span-2 block lg:flex lg:flex-col lg:justify-between;

      &__disclaimer {
        @apply text-xs tracking-widest mb-8;

        & a {
          color: #000;
        }
      }
    }

    &__close {
      @apply absolute top-3 right-3 cursor-pointer leading-none text-xl font-light;

      img {
        @apply w-4;
      }
    }
  }
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) ' ';

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  @apply text-[12px] font-light font-sans tracking-[1px];

  margin-left: -1px;
  border: none;
  outline: none;
  width: 100%;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
