@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  --font-family: var(--leibal-components-font-family, sans-serif);
  --color-white: #fff;
  --color-light: #f3f3f3;
  --color-dim: #eaeaea;
  --color-dark: #222;

  display: block;
  font-family: var(--font-family);
}

.navbar {
  background: var(--color-white);
  transition: top 200ms ease-in-out;

  @keyframes slide-down {
    from {
    }
  }

  &--scrolled {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;

    top: -110px;
    &.show {
      top: 0;
    }
  }

  &__logo {
    @apply mr-10;
    width: 75px;
  }

  &__row {
    @apply block lg:grid grid-cols-10 justify-between tracking-widest text-xs md:text-sm lg:text-sm xl:text-sm;
    border-bottom: 1px solid var(--color-dim);

    &__leading {
      @apply px-5 py-4 pl-4 xl:pl-8 col-span-1 lg:col-span-2 overflow-clip flex ml-0 lg:ml-8;

      &__logo {
        @apply flex items-center;
      }
    }

    &__links {
      @apply block md:grid lg:grid-cols-4 xl:grid-cols-6 flex-1 col-span-6;

      & a {
        @apply flex font-light items-center px-5 py-4;

        transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

        &:hover {
          color: var(--color-light);
          background: var(--color-dark);
        }
      }

      & a:nth-child(5) {
        @apply hidden xl:block;
      }

      & a:nth-child(6) {
        @apply hidden xl:block;
      }
    }

    &__action {
      @apply grid grid-cols-2 col-span-3 lg:col-span-2;

      & > * {
        @apply px-5 py-4;
      }

      & > *:first-child {
        @apply pr-0 text-center lg:text-right lg:pr-8;
      }

      & > *:nth-child(2) {
        background: var(--color-dark);
        color: var(--color-light);
        text-align: center;
        transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

        &:hover {
          color: var(--color-dark);
          background: var(--color-light);
        }
      }
    }
  }
}
